.mainhead {
  padding: 7% 15%;
}

.cursive {
  font-family: cursive;
}

.container {
  padding: auto;
}

.menu {
  background-color: #a8adb5;
}

.top {
  background-color: #e3e3ed;
  position: relative;
  padding-top: 100px;
}

.c1 {background-color: #CDD9E9;}

.c2 {background-color: #e3e3ed;}

.middle {
  margin: 50px 0;
}

.bottom {
  background-color: #83b3fc;
  margin-top: 10px;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 350px;
}

.mountain {
  top: 700px;
  bottom: 200px;
}

.profile {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.interests {
  text-align: center;
  margin-bottom: 5px;
  background-color: #e3e3ed;
}

.interest-row {
  width: 70%;
  margin: 5px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 5px auto 50px auto;
}

.first-h2 {
  font-weight: normal;
}

.second-h2 {
  text-align: center;
}

.para-indent {
  padding-left: 5em;
}

.myname {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  color: #808080;
}

.image-left {
  float: left;
  margin-right: 30px;
}

.image-right {
  float: right;
  margin-left: 30px;
}

.butn {
  margin-top: 20px;
  padding-bottom: 10px;
  background: #808089;
  background-image: -webkit-linear-gradient(top, #00090A, #808089);
  background-image: -moz-linear-gradient(top, #00090A, #808089);
  background-image: -ms-linear-gradient(top, #00090A, #808089);
  background-image: -o-linear-gradient(top, #00090A, #808089);
  background-image: linear-gradient(to bottom, #00090A, #808089);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #808089;
  background-image: -webkit-linear-gradient(top, #808089, #00090A);
  background-image: -moz-linear-gradient(top, #808089, #00090A);
  background-image: -ms-linear-gradient(top, #808089, #00090A);
  background-image: -o-linear-gradient(top, #808089, #00090A);
  background-image: linear-gradient(to bottom, #808089, #00090A);
  text-decoration: none
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  margin-bottom: 12em;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  color: #40514E;
  background-color: #CDD9E9;
  text-align: center;
  font-family: arial, sans-serif;
}

a {
  color: #808088;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #456090;
}

h1 {
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #808080;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #808082;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #808085;
}

section {
  padding: 0 0;
}

p {
  line-height: 2;
}

hr {
  border: dotted #40514E 6px;
  border-bottom: none;
  width: 4%;
}
